<div class="container h-100">
    <p-card>
        <div class="form-row">
            
        <div class="form-group col-lg-4">
            <p-toggleButton [(ngModel)]="farmer" [onLabel]="'ثبت نام کشاورز'" (onChange)="goToFarmerSignUpForm($event)"
                [offLabel]="'ثبت نام کشاورز'" [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'"
                [style]="{'width': '100%'}">
            </p-toggleButton>
        </div>

        <div class="form-group col-lg-4">
            <p-toggleButton [(ngModel)]="productOwner" [onLabel]="'ثبت نام مالکیت واحد تولیدی'"
            (onChange)="goToProductUnitSignUpForm($event)"
                [offLabel]="'ثبت نام مالکیت واحد تولیدی'" [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'"
                [style]="{'width': '100%'}">
            </p-toggleButton>
        </div>

        <div class="form-group col-lg-4">
            <p-toggleButton [(ngModel)]="coach" [onLabel]="'ثبت نام مربی'"
            (onChange)="goToCouchSignUpForm($event)"
                [offLabel]="'ثبت نام مربی'" [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'"
                [style]="{'width': '100%'}">
            </p-toggleButton>
        </div>

        <div class="form-group col-lg-4">
            <p-toggleButton [(ngModel)]="productSentinel" [onLabel]="'ثبت نام دیده بان تولید'" 
            (onChange)="goToProductWatchreSignUpForm($event)"
                [offLabel]="'ثبت نام دیده بان تولید'" [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'"
                [style]="{'width': '100%'}">
            </p-toggleButton>
        </div>

        <div class="form-group col-lg-4">
            <p-toggleButton [(ngModel)]="foodSecuritySentinel" [onLabel]="'ثبت نام دیده بان امنیت غذایی'"
            (onChange)="goToSecWatcherSignUpForm($event)"
                [offLabel]="'ثبت نام دیده بان امنیت غذایی'" [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'"
                [style]="{'width': '100%'}">
            </p-toggleButton>
        </div>
        
        </div>
    </p-card>
</div>