<div class="authincation h-100">
    <div class="container vh-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                  <a [routerLink]="['/']" class="brand-logo">
                                    <img src="assets/images/logo.png">
                                </a>
                                </div>
                                <h4 class="text-center mb-4">فعال سازی حساب کاربری</h4>
                                <form [formGroup]="passForm">
                                  <div class="form-group px-3">
                                    <p><strong>توجه :</strong>  کلمه عبور باید شامل
                                      حداقل یک حرف بزرگ انگلیسی، حداقل یک حرف کوچک انگلیسی، حداقل یک عدد و یکی از علايم @*$# باشد
                                      </p>
                                  </div>
                                    <div class="form-group">
                                        <label class="mb-1"><small>کلمه عبور جدید</small></label>
                                        <input type="password" class="form-control text-center"
                                        maxlength="36"
                                            [ngClass]="{
                                        'is-valid':passForm.controls['pass'].valid,
                                        'is-invalid':passForm.controls['pass'].invalid && passForm.controls['pass'].touched}"
                                            formControlName="pass" placeholder="- - - - - - - - - -">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label class="mb-1"><small>تکرار کلمه عبور جدید</small></label>
                                        <input type="password" class="form-control text-center"
                                        maxlength="24"
                                            [ngClass]="{
                                        'is-valid':passForm.controls['repPass'].valid,
                                        'is-invalid':passForm.controls['repPass'].invalid && passForm.controls['repPass'].touched}"
                                            formControlName="repPass" placeholder="- - - - - - - - - -" >

                                            <div *ngIf="isSame && passForm.controls['repPass'].dirty">
                                              <p [ngClass]="{'pt-2 fs-14 text-danger':passForm.controls['repPass'].invalid && passForm.controls['repPass'].touched}">کلمه عبور و تکرار کلمه عبور یکسان نیستند</p>
                                            </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit"  type="submit" [disabled]="!passForm.valid || disableSubmitButton"
                                            (click)="submit()" class="btn btn-info mx-2">
                                            <span *appSpinOn="disableSubmitButton; color: 'warn';"></span>
                                            تایید
                                        </button>
                                        <button
                                            (click)="goToLogin()" class="btn btn-primary">
                                            انصراف
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
