<div class="">
  <div class="justify-content-center align-items-center">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">انتخاب علاقه مندی</h4>
      </div>
      <div class="card-body">
        <div class="basic-form">
          <form class="form-row">
            <div class="form-group col-md-4">
              <label>محصول</label>
              <app-dynamic-select
                [selectionConfig]="myProductConfig"
                [(ngModel)]="productModel"
                (ngModelChange)="_onProductChange($event)"
              ></app-dynamic-select>
            </div>

            <div class="form-group col-md-4">
              <label>رقم</label>
              <app-dynamic-select
                [selectionConfig]="digitConfig"
                [(ngModel)]="digitModel"
                (ngModelChange)="_onDigitChange($event)"
              ></app-dynamic-select>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="getIntrests().length > 6">
      <div class="card-header">
        <h4 class="card-title">علاقه مندی کشاورزی</h4>
        <p class="m-0">
          <button
            type="submit"
            pButton
            pRipple
            class="p-button-success mx-2"
            [disabled]="disableButton"
          >
            افزودن
          </button>
          <button type="submit" pButton pRipple class="p-button-danger">
            <span></span>
            انصراف
          </button>
        </p>
      </div>

      <div class="card-body">
        <div class="form-group mx-sm-3 mb-4">
          <input
            id="address"
            type="text"
            readonly
            class="form-control-plaintext form-control-lg"
            [value]="getIntrests()"
          />
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">علاقه مندی های کشاورزی</h4>
      </div>

      <div class="card-body">
        <p-table [value]="products">
          <ng-template pTemplate="header">
            <tr>
              <th>ردیف</th>
              <th>مشخصات</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.topic }}</td>
              <td>{{ product.topic }}</td>
              <td>
                <button
                  pButton
                  type="button"
                  class="p-button-danger float-left"
                  (click)="confirmDelete(event, product.id)"
                  icon="pi pi-trash"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
