<div class="container-fluid">
    <div class="page-titles mx-0">
      <div class="p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">اشخاص</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">حقوقی</a></li>
        </ol>
      </div>
    </div>
<div class="">
    <p-card *ngIf="dataSource.length>0">
        <p-table styleClass="p-datatable-striped" [value]="dataSource" [lazy]="dataGrid.lazy" [tableStyle]="dataGrid.customTableStyle" [selection]="dataGrid.selectedData"
            [paginator]="dataGrid.paginator" [rows]="dataGrid.rowCount" [totalRecords]="dataGrid.totalRecords" [loading]="dataGrid.loading"
            [globalFilterFields]="dataGrid.filterHeaerFields" [selectAll]="dataGrid.selectAll" (onLazyLoad)="loadDataSource($event)"
            (selectionChange)="dataGrid.selectionChange($event)" (selectAllChange)="onSelectAllChange($event)">


            <ng-template pTemplate="caption">
                <div class="flex">
                    <!-- CRUD ACTIONS -->
                    <p-button label="ایجاد" icon="pi pi-plus" iconPos="left" (click)="dataGrid.redirect('pages/natural-persons/new')" styleClass="p-button-success ml-2" pTooltip="ایجاد" tooltipvenue="bottom"></p-button>
                    <p-button label="حذف" icon="pi pi-trash" iconPos="left" (click)="confirmSelectdDelete($event)" styleClass="p-button-danger" pTooltip="حذف" tooltipvenue="bottom"></p-button>
                    <p-confirmDialog [position]="dataGrid.position"></p-confirmDialog>
                    <button type="button" pButton pRipple icon="pi pi-file" class="ml-2 float-left" pTooltip="CSV" tooltipvenue="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel"  class="p-button-success ml-2 float-left"  pTooltip="XLS" tooltipvenue="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning ml-2 float-left" pTooltip="PDF" tooltipvenue="bottom"></button>
                    
                </div>
            </ng-template>


            <ng-template pTemplate="header">
    
                <tr>
                    <th style="width: 4rem"></th>
                    <ng-container *ngFor="let header of dataGrid.tableHeaerFields">
                        <th [pSortableColumn]="header.title">{{header.persianTitle}}<p-sortIcon [field]="header.sortKey"></p-sortIcon></th>
                    </ng-container>
                    <th style="width: 12rem">آدرس محل سکونت</th>
                    <th style="width: 12rem"></th>
                </tr>
    
                <tr>
                    <ng-container *ngIf="dataGrid.selectionMode">
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    </ng-container>
    
                    <th>
                        <p-columnFilter type="text" [field]="dataGrid.tableHeaerFields[0].sortKey"
                        matchMode="equals" [showMenu]="false">
                    </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" [field]="dataGrid.tableHeaerFields[1].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>

                    <th>
                        <p-columnFilter field="gender" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="genders" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                    </th>
                    <th>
                        <p-columnFilter type="text" [field]="dataGrid.tableHeaerFields[3].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" [field]="dataGrid.tableHeaerFields[4].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="religion" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="religions" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>

                    </th>
                    <th>
                        <p-columnFilter field="sect" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="sects" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="sect" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="militaryStatuses" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="maritalStatus" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="maritalStatuses" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="employmentStatus" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="employmentStatuses" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" [field]="dataGrid.tableHeaerFields[10].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter field="isStuing" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="studyingStatuses" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    
                    <th>
                        <p-columnFilter field="levelOfEducation" matchMode="in" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="levelOfEducationes" (onChange)="filter($event.value)" placeholder="..." [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="width: 12rem"></th>
                    <th style="width: 12rem"></th>
    
                </tr>
    
            </ng-template>
    
    
    
    
            <ng-template pTemplate="body" let-rows>
                <tr>
                    <ng-container *ngIf="dataGrid.selectionMode">
                        <td>
                            <p-tableCheckbox [value]="rows"></p-tableCheckbox>
                        </td>
                    </ng-container>
    
                    <ng-container *ngFor="let header of dataGrid.tableHeaerFields;let i = index">
                        <td>{{rows[header.title]}}</td>
                    </ng-container>
                    <td>
                        {{rows.address}}
                    </td>

                    <td class="flex">
                        <button pButton type="button" class="p-button-warning ml-2" (click)="dataGrid.redirect('pages/natural-persons/edit/' + rows.id)" icon="pi pi-pencil"></button>
                        <button pButton type="button" class="p-button-danger" (click)="confirmDelete($event,rows.id)" icon="pi pi-trash"></button>
                    </td>

                </tr>
                <!-- <tr>
                    <td></td>
                    <td colspan="12"></td>
                    <td></td>
                </tr> -->
            </ng-template>
    
        </p-table>
    </p-card>
</div>
</div>

