<div class="h-100">
  <div class="justify-content-center align-items-center">

      <div class="authincation-content mb-4">
        <p-panel [collapsed]="colapsed" header="افزودن سابقه شغلی" [toggleable]="true">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <form [formGroup]="editForm" class="row mx-0 px-0">
                  <div class="form-group col-lg-6">
                    <label class="mb-1"><small>محل خدمت</small></label>
                    <input
                      type="text"
                      class="form-control text-center"
                      maxlength="36"
                      [ngClass]="{
                        'is-valid': editForm.controls['workPlace'].valid,
                        'is-invalid':
                          editForm.controls['workPlace'].invalid &&
                          editForm.controls['workPlace'].touched
                      }"
                      formControlName="workPlace"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group col-lg-6">
                    <label class="mb-1"><small>سمت</small></label>
                    <input
                      type="text"
                      class="form-control text-center"
                      maxlength="36"
                      [ngClass]="{
                        'is-valid': editForm.controls['position'].valid,
                        'is-invalid':
                          editForm.controls['position'].invalid &&
                          editForm.controls['position'].touched
                      }"
                      formControlName="position"
                      placeholder=""
                    />
                  </div>
                  <div class="form-group col-lg-6">
                    <label class="mb-1"><small>تاریخ شروع</small></label>
                    <input
                      type="text"
                      class="form-control text-center"
                      (click)="picker1.open()"
                      maxlength="11"
                      name="datepicker1"
                      [matDatepicker]="picker1"
                      [ngClass]="{
                        'is-valid': editForm.controls['startDate'].valid,
                        'is-invalid':
                          editForm.controls['startDate'].invalid &&
                          editForm.controls['startDate'].touched
                      }"
                      formControlName="startDate"
                      placeholder=""
                    />

                    <mat-datepicker #picker1></mat-datepicker>
                  </div>
                  <div class="form-group col-lg-6">
                    <label class="mb-1"><small>تاریخ پایان</small></label>
                    <input
                      type="text"
                      class="form-control text-center"
                      (click)="picker2.open()"
                      maxlength="11"
                      name="datepicker2"
                      [matDatepicker]="picker2"
                      [ngClass]="{
                        'is-valid': editForm.controls['endDate'].valid,
                        'is-invalid':
                          editForm.controls['endDate'].invalid &&
                          editForm.controls['endDate'].touched
                      }"
                      formControlName="endDate"
                      placeholder=""
                    />
                    <mat-datepicker #picker2></mat-datepicker>
                  </div>

                  <div class="text-center">
                    <button
                      type="submit"
                      pButton
                      pRipple
                      [disabled]="!editForm.valid || disableButton"
                      (click)="submit()"
                      class="p-button-success mx-2"
                    >
                      <span *appSpinOn="disableButton; color: 'warn'"></span>
                      تایید
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </p-panel>

      </div>


  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">لیست سوابق شغلی</h4>
    </div>
    <div class="card-body">
      <p-table [value]="records">
        <ng-template pTemplate="header">
          <tr>
            <th>ردیف</th>
            <th>مشخصات</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.topic }}</td>
            <td>{{ product.topic }}</td>
            <td>
              <button
                pButton
                type="button"
                class="p-button-danger float-left"
                (click)="confirmDelete(event, product.id)"
                icon="pi pi-trash"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
