<div class="justify-content-center align-items-center">
  <div class="card">
    <div class="card-body">
      <div class="basic-form">
        <form [formGroup]="formGroup" class="form-row">
          <div class="form-group col-sm-6">
            <label class="mb-1">انتخاب محل</label>

            <div class="input-group col-12" dir="ltr">
              <div class="input-group-prepend">
                <button
                  class="btn btn-primary"
                  type="button"
                  style="max-height: 56px; height: 100%"
                  (click)="
                    openFindBox(
                      'divisionCountryId',
                      'divisionCountryTitle',
                      'countryDivision/countryDivisionSubDivisions',
                      'انتخاب محل'
                    )
                  "
                >
                  <i class="flaticon-381-menu-1"></i>
                </button>
              </div>
              <input
                type="text"
                readonly
                class="form-control text-left col-12"
                formControlName="divisionCountryTitle"
                placeholder=""
              />
            </div>
          </div>

          <div class="form-group col-sm-3">
            <label>محصول</label>
            <app-dynamic-select
              [selectionConfig]="caltivarConfig"
              formControlName="productTitle"
            ></app-dynamic-select>
          </div>

          <div class="form-group col-sm-3">
            <label>رقم</label>
            <app-dynamic-select
              [selectionConfig]="caltivarConfig"
              formControlName="caltivarTitle"
            ></app-dynamic-select>
          </div>

          <div class="form-group col-sm-4 pt-4">
            <button
              type="submit"
              pButton
              pRipple
              (click)="submit()"
              class="p-button-success mx-2"
              [disabled]="formGroup.invalid"
            >
              افزودن
            </button>
            <button type="button" (click)="reset()" pButton pRipple class="p-button-danger">
              انصراف
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">تجارب کشاورزی</h4>
    </div>

    <div class="card-body">
      <p-table [value]="experiences">
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.address }}</td>
            <td>{{ item.product }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
