
  <div class="container-fluid vh-100">
    <div class="page-titles mx-0">
      <div class="p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">تقسیمات کشوری</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">درختواره</a></li>
        </ol>
      </div>
    </div>
    <p-confirmDialog [position]="'top'"></p-confirmDialog>
    <div class="shadow rounded bg-white mb-1">
      <div class="p-4">
        <p-button label="ایجاد" icon="pi pi-plus" iconPos="left" (click)="addNewNode('pages/new')" styleClass="p-button-success ml-2" pTooltip="ایجاد" tooltipvenue="bottom"></p-button>
        <p-button label="بارگذاری تقسیمات کشوری" *ifHasRole="'TOTALADMIN'" icon="pi pi-sync" iconPos="left"  [disabled]="uploading"
         styleClass="p-button-info ml-2" (onClick)="confirmUpload($event)" tooltipvenue="bottom">
         <span *appSpinOn="uploading; color: 'warn';"></span></p-button>      </div>
    </div>
    <ng-container *ngIf="load">
      <app-dynamic-tree [configs]="baseInfoTreeConfig" >
      </app-dynamic-tree>
    </ng-container>


  </div>
