<div class="container-fluid">
    <div class="page-titles mx-0">
        <div class="p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">فراخوان</a></li>
            </ol>
        </div>
    </div>
    <div class="">
        <p-card  header="لیست فراخوان">
            <p-table [value]="dataSource" [lazy]="dataGrid.lazy" [tableStyle]="dataGrid.customTableStyle"
                [selection]="dataGrid.selectedData" [paginator]="dataGrid.paginator" [rows]="dataGrid.rowCount"
                [totalRecords]="dataGrid.totalRecords" [loading]="dataGrid.loading"
                [globalFilterFields]="dataGrid.filterHeaerFields" [selectAll]="dataGrid.selectAll"
                (onLazyLoad)="loadDataSource($event)" (selectionChange)="dataGrid.selectionChange($event)"
                (selectAllChange)="onSelectAllChange($event)" [(first)]="first" [rowsPerPageOptions]="[10,25,50]">


                <ng-template pTemplate="caption">
                    <p-confirmDialog [position]="dataGrid.position"></p-confirmDialog>
                    <div class="flex">
                        <!-- CRUD ACTIONS -->
                        <p-button label="ایجاد" icon="pi pi-plus" iconPos="left" (click)="dataGrid.redirect('pages/registration-announcemen/new')"
                            styleClass="p-button-success" tooltipPosition="bottom"></p-button>

                    </div>
                </ng-template>


                <ng-template pTemplate="header">

                    <tr>
                        <th *ngIf="dataGrid.selectionMode" style="width: 4rem"></th>
                        <th style="min-width: 1rem">ردیف</th>
                        <ng-container *ngFor="let header of dataGrid.tableHeaerFields">
                            <th pSortableColumn="subject">{{header.persianTitle}}<p-sortIcon
                                    [field]="header.sortKey"></p-sortIcon></th>
                        </ng-container>
                        <th style="width: 12rem"></th>
                    </tr>

                </ng-template>




                <ng-template pTemplate="body" let-rows let-index="rowIndex">
                    <tr>
                        <ng-container *ngIf="dataGrid.selectionMode">
                            <td>
                                <p-tableCheckbox [value]="rows"></p-tableCheckbox>
                            </td>
                        </ng-container>
                        <td>
                            {{first + index +1}}
                        </td>
                        <td>{{ rows.title }}</td>
                        <td>{{ rows.startDate }}</td>
                        <td>{{ rows.endDate }}</td>
                        <td>{{ getRoleTitle(rows.rolesId) }}</td>
                        <td>
                            <p-inputSwitch [(ngModel)]="rows.active"
                            (onChange)="confirmAccountActivation($event,rows)"
                                [pTooltip]="rows.active?'غیرفعال سازی':'فعال سازی'"></p-inputSwitch>
                        </td>

                        <td class="flex">

                            <button pButton type="button" class="p-button-warning ml-2"
                                (click)="dataGrid.redirect('pages/registration-announcemen/edit/' + rows.id)"
                                icon="pi pi-pencil"></button>
                            <button pButton type="button" class="p-button-danger"
                                (click)="confirmAccountDelete($event,rows.id)" icon="pi pi-trash"></button>
                        </td>

                    </tr>
                </ng-template>

            </p-table>
        </p-card>
    </div>
</div>
