<div class="row no-gutters">
    <div class="col-xl-12">
        <div class="auth-form">
            <form [formGroup]="accountNewForm">
                <label class="mb-1 text-right"><strong>فرد</strong></label>
                <div class="input-group mb-3" dir="ltr">
                    <div class="input-group-prepend">
                        <button class="btn btn-primary h-100" type="button">
                            <i class="flaticon-381-add-1"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control text-right"
                        [ngClass]="{
                    'is-valid':accountNewForm.controls['personName'].valid,
                    'is-invalid':accountNewForm.controls['personName'].invalid && accountNewForm.controls['personName'].touched}" formControlName="personName"
                        placeholder="">

                </div>

                <div class="text-center">
                    <button type="submit" pButton pRipple [disabled]="!accountNewForm.valid || disableButton"
                        (click)="submit()" class="p-button-success">
                        <span *appSpinOn="disableButton; color: 'warn';"></span>
                        ایجاد حساب کاربری
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>