<div class="container-fluid vh-100">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="javascript:void(0)"> واحد های تولیدی </a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)"> مالکین زمین </a></li>
        </ol>
      </div>
    </div>
    <div class="">
      <p-card [header]="'لیست مالکین'">
        <p-table
  
          [value]="dataSource"
          [lazy]="dataGrid.lazy"
          [tableStyle]="dataGrid.customTableStyle"
          [selection]="dataGrid.selectedData"
          [paginator]="dataGrid.paginator"
          [rows]="dataGrid.rowCount"
          [totalRecords]="dataGrid.totalRecords"
          [loading]="dataGrid.loading"
          [globalFilterFields]="dataGrid.filterHeaerFields"
          [selectAll]="dataGrid.selectAll"
          (onLazyLoad)="loadDataSource($event)"
          (selectionChange)="dataGrid.selectionChange($event)"
          (selectAllChange)="onSelectAllChange($event)"
          [(first)]="first"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
  
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button label="ایجاد" icon="pi pi-plus" iconPos="left"
                 (click)="openProductForm($event,false)"
                 styleClass="p-button-success ml-2"
                 tooltipvenue="bottom"></p-button>
            </div>
        </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <ng-container *ngIf="dataGrid.selectionMode">
                <th style="width: 4rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
              </ng-container>
              <th>ردیف</th>
              <ng-container *ngFor="let header of dataGrid.tableHeaerFields">
                <th [pSortableColumn]="header.title">
                  {{ header.persianTitle }}
                </th>
              </ng-container>
              <th style="width: 12rem"></th>
            </tr>
  
  
          </ng-template>
  
          <ng-template pTemplate="body" let-rows let-index="rowIndex">
            <tr>
              <ng-container *ngIf="dataGrid.selectionMode">
                <td>
                  <p-tableCheckbox [value]="rows"></p-tableCheckbox>
                </td>
              </ng-container>
  
              <td>
                {{  index + 1 }}
              </td>
  
 
                <td>{{ rows['nationalCode'] }}</td>
                <td>{{ rows['firstName'] }}</td>
                <td>{{ rows['lastName'] }}</td>
                <td>{{ getRelationType(rows.relationType) }}</td>
                <td>{{ rows['percentage'] }}</td>

  
              <td class="flex">
  
                <button
                  pButton
                  type="button"
                  (click)="setCurrentOwner(rows.id);menu.toggle($event);"
                  iconPos="left"
                  styleClass="p-button-muted mr-2"
                  label="بیشتر"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
  <p-menu #menu [model]="items" [popup]="true"></p-menu>
  <p-confirmDialog #cd [position]="'top'">
    <ng-template pTemplate="footer">
    
      <button class="p-button-success" type="button" pButton icon="pi pi-check" label="تایید " (click)="cd.accept()"></button>
      <button class="p-button-danger" type="button" pButton icon="pi pi-times" label="خیر" (click)="cd.reject()"></button>
  </ng-template>
  </p-confirmDialog>