
  <div class="container-fluid">
    <div class="page-titles mx-0">
      <div class="p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">تقسیمات کشوری</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">درختواره</a></li>
        </ol>
      </div>
    </div>
<div class="vh-100">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-10 col-md-11">
            <div class="authincation-content">
                <div class="row no-gutters">
                    <div class="col-xl-12">
                        <div class="auth-form">
                            <h2 class="text-center mb-4">تقسیمات کشوری</h2>
                            <form [formGroup]="editForm">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>ساختار بالادستی</label>
                                        <input *ngIf="node" formControlName="superDivisionLabel"  type="text" class="form-control" placeholder="">
                                        <p *ngIf="!node" class="form-control-plaintext">تعریف نشده</p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>نوع</label>
                                        <!-- <app-dynamic-select formControlName="typeId"
                                     [selectionConfig]="typeConfig" 
                                    ></app-dynamic-select> -->
                                    <select class="default-select form-control" formControlName="typeId"
                                     id="theme_version" name="theme_version">
                                        <option [value]="1">منطقه</option>
                                        <option [value]="2">استان</option>
                                        <option [value]="3">شهرستان</option>
                                        <option [value]="4">بخش</option>
                                        <option [value]="5">شهر</option>
                                        <option [value]="6">روستا</option>
                                     </select>
                                    </div>
            
                                    <div class="form-group col-md-6">
                                        <label>کد</label>
                                        <input  formControlName="code" OnlyNumber="true" maxlength="3" minlength="3" type="text" class="form-control">
                                    </div>
            
                                    <div class="form-group col-md-6">
                                        <label>نام</label>
                                        <input  formControlName="name" type="text" maxlength="64" minlength="3" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>آدرس کامل</label>
                                        <input  formControlName="fullAddress" maxlength="512" minlength="3" type="text" class="form-control">
                                    </div>
                                </div>
            
                                <div class="text-center">
                                    <button type="submit" pButton pRipple [disabled]="!editForm.valid || disableButton"
                                        (click)="submit()" class="p-button-success mx-2">
                                        <span *appSpinOn="disableButton; color: 'warn';"></span>
                                        تایید
                                    </button>
                                    <button type="button" pButton pRipple
                                        (click)="cancle()" class="p-button-danger">
                                        انصراف
                                    </button>
                                </div>
            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>