
<div class="container-fluid vh-100 my-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-10 col-md-10">
      <div class="authincation-content">
        <div class="row no-gutters">
          <div class="col-xl-12">
            <div class="auth-form">

              <h2 class="text-center mb-4">ایجاد  فرد جدید</h2>
              <form [formGroup]="editForm" class="row mx-0 px-0">
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>کد ملی</small></label>-->
                  <input type="text" class="form-control text-center"
                         placeholder="کد ملی"
                         maxlength="36"
                         [ngClass]="{
                                        'is-valid':editForm.controls['nationalId'].valid,
                                        'is-invalid':editForm.controls['nationalId'].invalid && editForm.controls['nationalId'].touched}"
                         formControlName="nationalId">
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small></small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="36"
                         [ngClass]="{
                                        'is-valid':editForm.controls['fName'].valid,
                                        'is-invalid':editForm.controls['fName'].invalid && editForm.controls['fName'].touched}"
                         formControlName="fName" placeholder="نام">
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>نام خانوادگی</small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="24"
                         [ngClass]="{
                                        'is-valid':editForm.controls['lName'].valid,
                                        'is-invalid':editForm.controls['lName'].invalid && editForm.controls['lName'].touched}"
                         formControlName="lName" placeholder="نام خانوادگی" >
                </div>


                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>شماره شناسنامه</small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="24"
                         [ngClass]="{
                                        'is-valid':editForm.controls['idNumber'].valid,
                                        'is-invalid':editForm.controls['idNumber'].invalid && editForm.controls['idNumber'].touched}"
                         formControlName="idNumber" placeholder="شماره شناسنامه" >
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>جنسیت</small></label>-->
                  <select id="inputState" formControlName="gender"
                          class="form-control default-select">
                    <option value="" disabled selected>جنسیت</option>
                    <option>مرد</option>
                    <option>زن</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small> تاریخ تولد</small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="24"
                         [ngClass]="{
                                        'is-valid':editForm.controls['birthDate'].valid,
                                        'is-invalid':editForm.controls['birthDate'].invalid && editForm.controls['birthDate'].touched}"
                         formControlName="birthDate" placeholder="تاریخ تولد" >
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>محل تولد</small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="24"
                         [ngClass]="{
                                        'is-valid':editForm.controls['birthLocation'].valid,
                                        'is-invalid':editForm.controls['birthLocation'].invalid && editForm.controls['birthLocation'].touched}"
                         formControlName="birthLocation" placeholder="محل تولد" >
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>محل صدور شناسنامه</small></label>-->
                  <select id="inputState" formControlName="idNumberLocation"
                          class="form-control default-select">
                    <option value="" disabled selected>محل صدور شناسنامه</option>
                    <option>تهران</option>
                    <option>کرج</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>ملیت</small></label>-->
                  <select id="inputState" formControlName="nationality"
                          class="form-control default-select">
                    <option value="" disabled selected>ملیت</option>
                    <option>ایران</option>
                    <option>سایر</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>تابعیت</small></label>-->
                  <select id="inputState" formControlName="country"
                          class="form-control default-select">
                    <option value="" disabled selected>تابعیت</option>
                    <option>ایران</option>
                    <option>سایر</option>
                  </select>
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>دین</small></label>-->
                  <select id="inputState" formControlName="religen"
                          class="form-control default-select">
                    <option value="" disabled selected>دین</option>
                    <option>اسلام</option>
                    <option>مسیحیت</option>
                  </select>
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>مذهب</small></label>-->
                  <select id="inputState" formControlName="sect"
                          class="form-control default-select">
                    <option value="" disabled selected>مذهب</option>
                    <option>شیعه</option>
                    <option>سنی</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>وضعیت نظام وظیفه</small></label>-->
                  <select id="inputState" formControlName="military"
                          class="form-control default-select">
                    <option value="" disabled selected>وضعیت نظام وظیفه</option>
                    <option>درحال خدمت</option>
                    <option>اتمام خدمت</option>
                    <option>مشمول</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>وضعیت تاهل</small></label>-->
                  <select id="inputState" formControlName="marrid"
                          class="form-control default-select">
                    <option value="" disabled selected>وضعیت تاهل</option>
                    <option>مجرد</option>
                    <option>متاهل</option>
                  </select>
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small> تعداد فرزندان</small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="24"
                         [ngClass]="{
                                        'is-valid':editForm.controls['childNum'].valid,
                                        'is-invalid':editForm.controls['childNum'].invalid && editForm.controls['childNum'].touched}"
                         formControlName="childNum" placeholder="تعداد فرزندان" >
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>وضعیت اشتغال</small></label>-->
                  <select id="inputState" formControlName="job"
                          class="form-control default-select">
                    <option value="" disabled selected>وضعیت اشتغال</option>
                    <option>کارمند</option>
                    <option>آزاد</option>
                    <option>بیکار</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>وضعیت تحصیلی</small></label>-->
                  <select id="inputState" formControlName="edu"
                          class="form-control default-select">
                    <option value="" disabled selected>وضعیت تحصیلی</option>
                    <option>فارغ التحصیل</option>
                    <option>درحال تحصیل</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>سطح تحصیلات</small></label>-->
                  <select id="inputState" formControlName="levelOfEdu"
                          class="form-control default-select">
                    <option value="" disabled selected>سطح تحصیلات</option>
                    <option>سیکل</option>
                    <option>دیپلم</option>
                    <option>لیسانس</option>
                  </select>
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>محل سکونت</small></label>-->
                  <select id="inputState" formControlName="home"
                          class="form-control default-select">
                    <option value="" disabled selected>محل سکونت</option>
                    <option>تهران</option>
                    <option>کرج</option>
                  </select>
                </div>

                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small> آدرس</small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="24"
                         [ngClass]="{
                                        'is-valid':editForm.controls['address'].valid,
                                        'is-invalid':editForm.controls['address'].invalid && editForm.controls['address'].touched}"
                         formControlName="address" placeholder="آدرس" >
                </div>
                <div class="form-group col-lg-4">
<!--                  <label class="mb-1"><small>شماره تماس</small></label>-->
                  <input type="text" class="form-control text-center"
                         maxlength="24"
                         [ngClass]="{
                                        'is-valid':editForm.controls['sIMNumber'].valid,
                                        'is-invalid':editForm.controls['sIMNumber'].invalid && editForm.controls['sIMNumber'].touched}"
                         formControlName="sIMNumber" placeholder="شماره تماس" >
                </div>



                <div class="text-center col-12">
                  <button type="submit" pButton pRipple (click)="submit()"
                          class="p-button-success mx-2">
                    <span *appSpinOn="disableButton; color: 'warn';"></span>
                    بررسی و ثبت
                  </button>
                  <button type="submit" (click)="cancle()" pButton pRipple [disabled]="disableButton"
                          class="p-button-danger">
                    <span *appSpinOn="disableButton; color: 'warn';"></span>
                    انصراف
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
