<div class="deznav">
  <div class="deznav-scroll" [perfectScrollbar]>
    <ul class="metismenu" id="menu" metis-menu>
      <li>
        <a class="ai-icon" [routerLink]="['/pages/users']">
          <i class="lar la-user-circle"></i>
          <span class="nav-text">کاربران</span>
        </a>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="las la-database"></i>
          <span class="nav-text"> اطلاعات پایه </span>
        </a>
        <ul aria-expanded="false">
          <li><a [routerLink]="['/pages/base-information/product']"> محصولات </a></li>
          <li>
            <a [routerLink]="['/pages/base-information/cultivar']"> رقم محصولی </a>
          </li>
          <li><a [routerLink]="['/pages/base-information/university']"> دانشگاه </a></li>
          <li>
            <a [routerLink]="['/pages/base-information/study-filed']"> رشته | گرایش تحصیلی </a>
          </li>
        </ul>
      </li>

      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="las la-sitemap"></i>
          <span class="nav-text">تقسیمات کشوری</span>
        </a>
        <ul aria-expanded="false">
          <li><a [routerLink]="['/pages/divisions-of-the-country/tree']">درختواره </a></li>
        </ul>
      </li>
      <!-- *ifHasRole="mohammad" -->
      <li >
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="las la-users"></i>
          <span class="nav-text">اشخاص</span>
        </a>
        <ul aria-expanded="false">
          <li><a [routerLink]="['/pages/persons']">حقیقی </a></li>
          <li><a [routerLink]="['/pages/companeis']"> حقوقی</a></li>
        </ul>
      </li>

      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="las la-user-tie"></i>
          <span class="nav-text">واحد های تولیدی</span>
        </a>
        <ul aria-expanded="false">
          <li><a [routerLink]="['/pages/product-units']">واحد های تولیدی</a></li>
          <li><a [routerLink]="['/pages/lands/']"> زمین های کشاورزی</a></li>
        </ul>
      </li>

      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="las la-stream"></i>
          <span class="nav-text">ساختار سازمان</span>
        </a>
        <ul aria-expanded="false">
          <li><a [routerLink]="['/pages/organization']">سازمان ها</a></li>
          <li>
            <a [routerLink]="['/pages/organization/memberships']"> عضویت ها</a>
          </li>
        </ul>
      </li>

      <li>
        <a class="ai-icon" [routerLink]="['/pages/personnel']">
          <i class="las la-users-cog"></i>
          <span class="nav-text">پرسنل</span>
        </a>
      </li>

      <li>
        <a class="ai-icon" [routerLink]="['/pages/courses']">
          <i class="las la-users-cog"></i>
          <span class="nav-text">دوره ها</span>
        </a>
      </li>

      <li>
        <a class="ai-icon" [routerLink]="['/pages/registration-announcemen']">
          <i class="las la-bullhorn"></i>
          <span class="nav-text">فراخوان</span>
        </a>
      </li>
      <li>
        <a class="ai-icon" [routerLink]="['/pages/role-determination']">
          <i class="lar la-user-circle"></i>
          <span class="nav-text">نقش ها</span>
        </a>
      </li>
      <li>
        <a class="ai-icon" [routerLink]="['/pages/condidates/observation-condidates']">
          <i class="lar la-user-circle"></i>
          <span class="nav-text">داوطلبین دیده بانی</span>
        </a>
      </li>
      <li>
        <a class="ai-icon" [routerLink]="['/pages/condidates/couch-condidates']">
          <i class="lar la-user-circle"></i>
          <span class="nav-text">داوطلبین مربیگر</span>
        </a>
      </li>
    </ul>
  </div>
</div>
