<div class="vh-100">
  <div class="justify-content-center align-items-center">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">با کلیک بر روی تکمیل پروفایل، شما به عنوان کشاورز ثبت نام خواهید شد.</h5>
      </div>
      <div class="card-body text-center">
        <div class="basic-form">
          <button type="button" (click)="submit()" pButton pRipple class="p-button-primary">
            تکمیل پروفایل
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
