
<div class="container-fluid">
    <div class="page-titles mx-0">
      <div class="p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="javascript:void(0)">کاربران</a></li>
        </ol>
      </div>
    </div>
<div class="">
    <p-card *ngIf="accountList.length>0">
        <p-table [value]="accountList" [lazy]="accountGrid.lazy" [tableStyle]="accountGrid.customTableStyle" [selection]="accountGrid.selectedData"
            [paginator]="accountGrid.paginator" [rows]="accountGrid.rowCount" [totalRecords]="accountGrid.totalRecords" [loading]="accountGrid.loading"
            [globalFilterFields]="accountGrid.filterHeaerFields" [selectAll]="accountGrid.selectAll" (onLazyLoad)="loadDataSource($event)"
            (selectionChange)="accountGrid.selectionChange($event)" (selectAllChange)="onSelectAllChange($event)">


            <ng-template pTemplate="caption">
                <div class="flex">
                    <!-- CRUD ACTIONS -->
                    <p-button label="ایجاد" icon="pi pi-plus" iconPos="left" (click)="showNewAccountModal()" styleClass="p-button-success" pTooltip="ایجاد" tooltipPosition="bottom"></p-button>
                    <p-button label="فعال/غیرفعال سازی" icon="pi pi-edit" (click)="selectdAccountsActivation($event)" styleClass="p-button-info mx-2" pTooltip="فعال/غیرفعال سازی" tooltipPosition="bottom"></p-button>
                    <p-button label="حذف" icon="pi pi-trash" iconPos="left" (click)="confirmSelectdAccountsDelete($event)" styleClass="p-button-danger" pTooltip="حذف" tooltipPosition="bottom"></p-button>
                    <p-confirmDialog [position]="accountGrid.position"></p-confirmDialog>
                    <button type="button" pButton pRipple icon="pi pi-file" class="ml-2 float-left" pTooltip="CSV" tooltipvenue="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel"  class="p-button-success ml-2 float-left"  pTooltip="XLS" tooltipvenue="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning ml-2 float-left" pTooltip="PDF" tooltipvenue="bottom"></button>

                </div>
            </ng-template>


            <ng-template pTemplate="header">

                <tr>
                    <th style="width: 4rem"></th>
                    <ng-container *ngFor="let header of accountGrid.tableHeaerFields">
                        <th pSortableColumn="subject">{{header.persianTitle}}<p-sortIcon [field]="header.sortKey"></p-sortIcon></th>
                    </ng-container>
                    <th style="width: 12rem"></th>
                </tr>

                <tr>
                    <ng-container *ngIf="accountGrid.selectionMode">
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    </ng-container>

                    <th>
                        <p-columnFilter type="text" [field]="accountGrid.tableHeaerFields[0].sortKey"
                        matchMode="equals" [showMenu]="false">
                    </p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" [field]="accountGrid.tableHeaerFields[1].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" [field]="accountGrid.tableHeaerFields[2].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" [field]="accountGrid.tableHeaerFields[3].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th style="width: 7rem">
                        <p-columnFilter type="boolean" [field]="accountGrid.tableHeaerFields[4].sortKey"
                        matchMode="equals" [showMenu]="false"></p-columnFilter>
                    </th>
                    <th style="width: 12rem"></th>

                </tr>

            </ng-template>




            <ng-template pTemplate="body" let-rows>
                <tr>
                    <ng-container *ngIf="accountGrid.selectionMode">
                        <td>
                            <p-tableCheckbox [value]="rows"></p-tableCheckbox>
                        </td>
                    </ng-container>

                    <td>{{ rows.idNumber }}</td>
                    <td>{{ rows.fullName }}</td>
                    <td>{{ rows.phoneNumber }}</td>
                    <td>{{ rows.username }}</td>
                    <td>
                        <i class="pi" [ngClass]="{'text-success pi-check-circle': rows.isActive, 'text-danger pi-times-circle': !rows.isActive}"></i>
                    </td>

                    <td class="flex">
                        <button pButton type="button" class="p-button-warning ml-2" (click)="accountGrid.redirect('pages/account/edit/' + rows.id)" icon="pi pi-pencil"></button>
                        <button pButton type="button" class="p-button-danger" (click)="confirmAccountDelete($event,rows.idNumber)" icon="pi pi-trash"></button>
                    </td>

                </tr>
            </ng-template>

        </p-table>
    </p-card>
</div>
</div>

