
    <div class="container-fluid h-100v">
        <div class="">
            <p-card header="لیست افراد">
                <p-table [value]="dataSource" [lazy]="dataGrid.lazy" [tableStyle]="dataGrid.customTableStyle"
                    [selection]="dataGrid.selectedData" [paginator]="dataGrid.paginator" [rows]="dataGrid.rowCount"
                    [totalRecords]="dataGrid.totalRecords" [loading]="dataGrid.loading"
                    [globalFilterFields]="dataGrid.filterHeaerFields" [selectAll]="dataGrid.selectAll"
                    (onLazyLoad)="loadDataSource($event)" (selectionChange)="dataGrid.selectionChange($event)"
                    (selectAllChange)="onSelectAllChange($event)"
                    [(first)]="first" [rowsPerPageOptions]="[10,25,50]">

                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <!-- CRUD ACTIONS -->
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText OnlyNumber="true"
                                [formControl]="nationalCode"
                                 maxlength="10"
                                maxlength="10" type="text" placeholder="کد ملی" />
                            </span>
                            <button pButton label="جست و جو"  (click)="searchUser()" class="p-button-outlined mx-2"></button>

                         <p-confirmDialog [position]="dataGrid.position"></p-confirmDialog>
                        </div>
                    </ng-template>


                    <ng-template pTemplate="header">

                        <tr>
                            <ng-container *ngIf="dataGrid.selectionMode">
                                <th style="width: 4rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                            </ng-container>
                            <th style="min-width: 1rem">
                                ردیف
                            </th>
                            <ng-container *ngFor="let header of dataGrid.tableHeaerFields">
                                <th [pSortableColumn]="header.title">{{header.persianTitle}}<p-sortIcon
                                        [field]="header.sortKey"></p-sortIcon></th>
                            </ng-container>
                            <th style="width: 12rem"></th>
                        </tr>

                    </ng-template>




                    <ng-template pTemplate="body" let-rows let-index="rowIndex">
                        <tr>
                            <ng-container *ngIf="dataGrid.selectionMode">
                                <td>
                                    <p-tableCheckbox [value]="rows"></p-tableCheckbox>
                                </td>
                            </ng-container>

                            <td>
                                {{index +1 }}
                            </td>

                            <ng-container *ngFor="let header of dataGrid.tableHeaerFields;let i = index">
                                <td>{{rows[header.title]}}</td>
                            </ng-container>

                            <td class="flex">

                                <button pButton type="button" class="p-button-success"
                                    (click)="selectUser($event,rows)" icon="">انتخاب</button>
                            </td>

                        </tr>
                    </ng-template>

                </p-table>
            </p-card>
        </div>
    </div>

