<div class="row no-gutters">
  <div class="col-xl-12">
    <div class="auth-form">
      <h2 class="text-center mb-4">مشخصات عضویت</h2>
      <form [formGroup]="editForm"  class="row mx-0 px-0">
        <div class="form-group col-lg-6">
          <label>عنوان (سازمان|نهاد|ارگان|...) </label>
          <app-dynamic-select
            [selectionConfig]="SelectorConfig1"
            formControlName="Selector1"
          ></app-dynamic-select>
        </div>

        <div class="form-group col-lg-6">
          <label>سال شروع عضویت </label>
          <app-dynamic-select
            [selectionConfig]="SelectorConfig2"
            formControlName="Selector2"
          ></app-dynamic-select>
        </div>

        <div class="form-group col-lg-6">
          <label>سال خاتمه عضویت </label>
          <app-dynamic-select
            [selectionConfig]="SelectorConfig3"
            formControlName="Selector3"
          ></app-dynamic-select>
        </div>

        <div class="form-group col-lg-6">
          <label>مدت زمان عضویت </label>
          <input
            type="text"
            class="form-control text-left"
            maxlength="32"
            minlength="2"
            required
            [ngClass]="{
              'is-valid': editForm.controls['name'].valid,
              'is-invalid': editForm.controls['name'].invalid && editForm.controls['name'].touched
            }"
            formControlName="name"
          />
          <div
            *ngIf="
              editForm.controls['name'].invalid &&
              (editForm.controls['name'].dirty || editForm.controls['name'].touched)
            "
            class="text-danger fs-13 mt-1"
          >
            <div *ngIf="editForm.controls['name'].errors.required">مدت زمان عضویت الزامی است</div>
          </div>
        </div>

        <div class="text-center col-12">
          <button type="submit" pButton pRipple (click)="submit()" class="p-button-success mx-2">
            <span *appSpinOn="disableButton; color: 'warn'"></span>
            بررسی و ثبت
          </button>
          <button type="submit" (click)="submit()" pButton pRipple class="p-button-danger">
            انصراف
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
