<div class="row no-gutters">
  <div class="col-xl-12">
    <div class="auth-form">
      <h2 class="text-center mb-4">{{ label }} سمت</h2>

      <form>
        <div class="form-group col-lg-12 mb-2">
          <label class="mb-1">سمت سازمانی </label>
          <input
            type="text"
            class="form-control text-center"
            placeholder=""
            [readonly]="true"
            [disabled]="true"
            [value]="positionLabel"
          />
        </div>
        <label class="mb-1 text-right"><small>فرد</small></label>
        <div class="input-group mb-3" dir="ltr">
          <div class="input-group-prepend">
            <button class="btn btn-success h-100" (click)="redirectToRegistration()" type="button">
              ایجاد فرد
            </button>
            <button (click)="opemPersonFilter()" class="btn btn-success h-100" type="button">
              انتخاب فرد
            </button>
          </div>
          <input
            type="text"
            [readonly]="true"
            [disabled]="true"
            [value]="fullName"
            class="form-control text-left"
            placeholder=""
          />
        </div>

        <div class="form-group"></div>
        <div class="form-group">
          <button type="submit" pButton pRipple class="p-button-success mx-2" (click)="submit()">
            {{ label }}
          </button>
          <button type="button" pButton pRipple class="p-button-danger" (click)="cancle()">
            انصراف
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
