<div class="container vh-100">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-8">
            <div class="authincation-content">
                <div class="row no-gutters">
                    <div class="col-xl-12">
                        <div class="auth-form">
                            <h2 class="text-center mb-4">فعال سازی حساب کاربری</h2>
                            <p>کاربر گرامی : برای فعال سازی حساب کاربری اطلاعات خواسته شده را وارد نموده و گزینه تایید
                                را انتخاب کنید، در صورت صحت اطلاعات وارد شده کد یکبار مصرفی برای شما ارسال می شود که در
                                مرحله بعد از آن استفاده می شود</p>
                            <form [formGroup]="accountActivationForm">
                                <div class="form-group">
                                    <label class="mb-1"><small>کد ملی</small></label>
                                    <input type="text" class="form-control text-center"
                                    OnlyNumber="true"
                                    maxlength="36"
                                        [ngClass]="{
                                        'is-valid':accountActivationForm.controls['idNumber'].valid,
                                        'is-invalid':accountActivationForm.controls['idNumber'].invalid && accountActivationForm.controls['idNumber'].touched}"
                                        formControlName="idNumber" placeholder="- - - - - - - - - -">
                                </div>
                                <div class="form-group">
                                    <label class="mb-1"><small>کلمه عبور</small></label>
                                    <input type="text" class="form-control text-center" maxlength="24"
                                        [ngClass]="{
                                        'is-valid':accountActivationForm.controls['phoneNumber'].valid,
                                        'is-invalid':accountActivationForm.controls['phoneNumber'].invalid && accountActivationForm.controls['phoneNumber'].touched}"
                                        formControlName="phoneNumber" placeholder="- - - - - - - - - -">
                                </div>
                                <div class="text-center">
                                    <button type="submit" pButton pRipple
                                        [disabled]="!accountActivationForm.valid || disableButton"
                                        (click)="goToVerification()" class="p-button-help mx-2">
                                        <span *appSpinOn="disableButton; color: 'warn';"></span>
                                        فعال سازی حساب کاربری
                                    </button>
                                    <button type="submit" pButton pRipple
                                        [disabled]="!accountActivationForm.valid || disableButton"
                                        (click)="goToVerification()" class="p-button-primary">
                                        <span *appSpinOn="disableButton; color: 'warn';"></span>
                                        ورود
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
