<div class="time-picker-container">
  <div class="input-group">
      <input type="text" [disabled]="disabled" (ngModelChange)="onChange($event)" [(ngModel)]="dateValue" class="form-control"
      name="datepicker" [matDatepicker]="picker"
      >
    <div class="input-group-append">
      <button matRipple class="btn btn-primary" [disabled]="disabled" (click)="picker.open()"><i class="flaticon-381-calendar-1"></i></button>
      <button matRipple class="btn btn-danger" [disabled]="disabled" (click)="clear()"><i class="flaticon-381-multiply-1"></i></button>
    </div>
  </div>
</div>

<mat-datepicker #picker></mat-datepicker>
