
<div class="container">
    <div class="auth-form">
        <h2 class="text-center mb-4">مشخصات رشته</h2>
        <form [formGroup]="editForm" class="row mx-0 px-0">

            <div class="form-group col-12">
                <label for="name"><small>نام</small></label>
                <input type="text" class="form-control text-left"
                maxlength="32" minlength="2" required
                    [ngClass]="{
                'is-valid':editForm.controls['name'].valid,
                'is-invalid':editForm.controls['name'].invalid && editForm.controls['name'].touched}"
                    formControlName="name" placeholder="">
                    <div *ngIf="editForm.controls['name'].invalid && (editForm.controls['name'].dirty || editForm.controls['name'].touched)" class="text-danger fs-13 mt-1">

                        <div *ngIf="editForm.controls['name'].errors.required">
                            نام الزامی است
                        </div>
                    </div>
            </div>
            <div class="form-group col-12">
                <label for="description"><small>توضیحات</small></label>
                <textarea type="text" class="form-control text-left"
                maxlength="512" required
                    [ngClass]="{
                'is-valid':editForm.controls['description'].valid,
                'is-invalid':editForm.controls['description'].invalid && editForm.controls['description'].touched}"
                    formControlName="description" placeholder=""></textarea>
                    <div *ngIf="editForm.controls['description'].invalid && (editForm.controls['description'].dirty || editForm.controls['description'].touched)" class="text-danger fs-13 mt-1">

                        <div *ngIf="editForm.controls['description'].errors.required">
                            توضیحات الزامی است
                        </div>
                    </div>
            </div>
            <div class="col-12 text-center">
                <button type="submit" pButton pRipple [disabled]="!editForm.valid || disableButton"
                    (click)="submit()" class="p-button-success mx-2">
                    <span *appSpinOn="disableButton; color: 'warn';"></span>
                    تایید
                </button>
                <button type="button" pButton pRipple
                    (click)="close()" class="p-button-danger">
                    انصراف
                </button>
            </div>
        </form>
    </div>
</div>
